body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.nadpis {
  font-family: 'Lobster', cursive;
  font-weight: 400;
  color: #ffffff;
}
.figcaption {
  font-family: 'Montserrat', sans-serif;
  font-size: small;
  font-style: italic;
  opacity: 90%;
}
.pismo {
  font-family: 'Montserrat', sans-serif;
  font-size: small;
}

.body_container {
  display: flex;
  position: relative;
}

.container_list {
  text-align: justify;
}

.menu {
  display: flex;
}

ol li {
  margin-bottom: 5%;
  margin-right: 10%;
}

.btn_menu {
  border-style: none;
  border-radius: 5px;
}
.ref_menu {
  margin-left: 5px;
  justify-content: end;
}

.img_btn {
  margin: 0 2px 0 2px;
}

.hraje {
  color: white;
  font-size: large;
  font-weight: 700;
}

.container {
  display: flex;
  border-radius: 15%;
  margin: 50px 50px;
  padding: 50px;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.instrukce {
  width: 100%;
}

.obrazek {
  display: flex;
  border-radius: 5px 5px 0 0;
}

.koleckoAKrizek {
  filter: invert(100%);
  width: 1em;
  height: 1em;
}
.pravidla_styl {
  border-radius: 5px 5px 0 0;
}

.piskvorky {
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

.pole {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  height: 50%;
}
.hraci_pole {
  display: grid;
  border: 1px solid black;
  height: 10%;
  width: 10%;
}

.hra {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  justify-content: center;
  padding: 10px;
  max-width: 80vmin;
  height: 100%;
}

.pravidla {
  background-color: #1fcca4;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  /*display: block;*/
  width: 100%;
  cursor: pointer;
  text-align: center;
}

a:visited,
a:link,
a:hover,
a:active {
  text-decoration: none;
}

.hrat {
  background-color: #0197f6;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  /*display: block;*/
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.pravidla:hover {
  background-color: 1fcca4;
  background-color: #1cbb96;
}

.hrat:hover {
  background-color: #0197f6;
  background-color: #0090e9;
}

.nav-bar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 650px) {
  .container_rule {
    display: flex;
    border-radius: 15%;
    margin: 50px 50px;
    padding: 50px;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .pismo {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
  }
  .nadpis {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: xxx-large;
  }
  .galerie {
    display: flex;
    flex-wrap: wrap;
  }
  .galerie_fotky {
    flex-basis: 45%;
    margin: 3vh 0 3vh 2vw;
  }
}
